__pycache__/
*.py[cod]
*~
*.egg-info/
build/
dist/

*.pkl
*.cdf
*.csv
*.png
*.ipynb

.env
venv/
env/
.vscode/
.pytest_cache/

examples/
Omni_Charts/
Omni_EMBRACE/
embrace_results/
omni_data/
tests/
.tests/
.vscode/
